<div class="conts">
  <nav class="mb-1 navbar navbar-expand-lg navbar-dark navc" style="padding: 1em;">
    <div class="container">
      <a class="navbar-brand" href="home"><img
          src="https://res.cloudinary.com/ros4eva/image/upload/v1574765308/Rectangle_3_btfp6e.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
        aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="login" style="font-weight:600; margin-right:1em; margin-top: 5px;">
              <b style="font-weight:650;"> LOGIN</b>
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="signup">
              <button type="button" class="btn"
                style="background: #4DFFD4; padding: 6px 50px; font-weight: bolder;">SIGN UP</button>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </nav>


  <div>
    <div class="row wrapper">
      <div class="col col01">
        <div class="homd">
          <img src="https://res.cloudinary.com/ros4eva/image/upload/v1575474757/Rectangle_rn696d_2_620x488_btoffg.png"
            class="img-fluid imgsg">
          <ul style="margin-left: -6em">
            <li><i class="fas fa-circle" style="color:#4DFFD4; font-size: 14.5px; margin-right: 9px; "></i>Scrum Board
            </li>
            <li><i class="fas fa-circle" style="color:#4DFFD4; font-size: 14.5px; margin-right: 9px; "></i>Group Chat
            </li>
            <li><i class="fas fa-circle" style="color:#4DFFD4; font-size: 14.5px; margin-right: 9px; "></i>
              <ro style="color: #4dcde4;">S</ro>
              <rs style="color:rgb(40, 163, 122)">l</rs>
              <re style="color: rgb(204, 41, 41);">a</re>
              <pr style="color: rgb(241, 205, 44);">c</pr>
              <po style="color: rgb(66, 19, 66);">k</po> Integration
            </li>
          </ul>
          <span class="lst">All in one with <pr style="color: #4DFFD4;">ChatScrum</pr></span><br>
          <a href="createuser"><button type="button" class="btn homdbtn" style="padding: 6px 50px;">SIGN
              UP</button></a>
          <a href="#"><button class="btn dembtn">Try Out Demo!</button></a>

        </div>
      </div>
      <div class="col imgse">

        <img src="https://res.cloudinary.com/ros4eva/image/upload/v1574980298/Rectangle_rn696d.png" class="img-fluid ">

      </div>
    </div>
  </div>
</div>
<div>
  <footer class=" footw">

    <div class="footer-copyright py-3 ">
      <div class="float-left copy" style="color: rgba(0, 0, 0, 0.6); ">© Chatscrum 2019</div>
      <div class="float-right copy">
        <ul id="menuli">
          <li><a href="/support">Support</a></li>
          <li><a href="/terms">Terms of use</a></li>
        </ul>
      </div>

    </div>


  </footer>
</div>