<div class="conts">
  <nav class="mb-1 navbar navbar-expand-lg navbar-dark navc" style="padding: 1em;">
    <div class="container">
      <a class="navbar-brand" href="home"><img
          src="https://res.cloudinary.com/ros4eva/image/upload/v1574765308/Rectangle_3_btfp6e.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
        aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="login" style="margin-right:1em; margin-top: 5px;">
              <b style="font-weight:650;"> LOGIN</b>
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="signup">
              <button type="button" class="btn"
                style="background: #4DFFD4; padding: 6px 50px; font-weight: bolder;">SIGN
                UP</button>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </nav>

  <!-- <div class="wrapper"> -->
  <div id="gride" class="wrapper">
    <div class="row">
      <div class="col col01">
        <div class="loginForm">
          <h2 class="container" style="font-weight: 700;">Log in to ChatScrum</h2>
          <!-- <span id="alert"></span> -->
          <div id="alertBox">

            <div id="alert-error" class="alert alert-danger alert-dismissable fade show"
              style=" margin-left: 1em; margin-bottom: -5px; width: 95%;">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{dataService.message}}
            </div>
          </div>

          <form (ngSubmit)="login()" id="login" #userLoginForm="ngForm" novalidate name="userLoginForm">

            <div class="formContainer">
              <div>
                <label for="email">Email</label>
                <input type="email" required placeholder="enter email..." name="email" #email="ngModel"
                  [(ngModel)]="dataService.login_username" pattern="[A-Za-z0-9._-]+@[A-Za-z0-9]+\.[a-z]{2,}$"
                  class="form-control">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger"
                  style="border: none; background: none; padding: none; color: #851111; margin-top: -1.9em; margin-bottom: -7px; font-size: 14px;">

                  <div *ngIf="email.errors.required">
                    <i class="fas fa-exclamation-triangle"></i> Email is required.
                  </div>

                  <div *ngIf="email.errors.pattern">
                    <i class="fas fa-exclamation-triangle"></i> Invalid email.
                  </div>

                </div>
              </div>



              <div>
                <label for="psw">Password</label>
                <input type="password" placeholder="choose a password..." name="password" required #password="ngModel"
                  [(ngModel)]="dataService.login_password" class="form-control" minlength="3">
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger"
                  style="border: none; background: none; padding: none; color: #851111; margin-top: -1.9em; margin-bottom: -7px; font-size: 14px;">

                  <div *ngIf="password.errors.required">
                    <i class="fas fa-exclamation-triangle"></i> Password is required.
                  </div>

                </div>
              </div>


              <div id="owner-Field">
                <label for="projname">Project Name</label>
                <input type="text" placeholder="enter your project name..." name="projname" #projname="ngModel"
                  [(ngModel)]="dataService.login_project" class="form-control" id="ownerField" required>
                <div *ngIf="projname.invalid && (projname.dirty || projname.touched)" class="alert alert-danger"
                  style="border: none; background: none; padding: none; color: #851111; margin-top: -1.9em; margin-bottom: -7px; font-size: 14px;">

                  <div *ngIf="projname.errors.required">
                    <i class="fas fa-exclamation-triangle"></i> Project Name is required.
                  </div>
                </div>
              </div>
 

              <div class="lgbtn">
                <button type="submit" id="btn-one" class="btn loginbtn" [disabled]="!userLoginForm.valid"
                  (click)="lgnBTN()" style="background: #4DFFD4; padding: 7px 60px; font-weight: bolder;">LOGIN</button>
                <span class="psw"><a href="#" style="font-weight: 500;">Forgot password?</a></span>

              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col imgse">

      </div>
    </div>
  </div>
</div>
<div>
  <footer class=" footw">

    <div class="footer-copyright py-3">
      <div class="float-left copy" style="color: rgba(0, 0, 0, 0.5);">© Chatscrum 2020</div>
      <div class="float-right copy">
        <ul id="menuli">
          <li><a href="#">Support</a></li>
          <li><a href="#">Terms of use</a></li>
        </ul>
      </div>

    </div>


  </footer>
</div>